<a href="https://colab.research.google.com/github/Andru-1987/77695_data_science_i_flex/blob/main/02_clase/intro_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hola soy otro encabezao
---
- tareas:
    - almacenar texto en una variable
    - crear un array | lista | tuplas | vectores
    - functions

In [1]:
print("Hola, mundo!")

Hola, mundo!

In [2]:
mi_primer_variable = None

In [3]:
mi_primer_variable = "Pele!"

print(mi_primer_variable)

Pele!

In [4]:
mi_primer_variable:str = 10000000

print(mi_primer_variable)

10000000

Vamos a hacer a un saludador

In [5]:
# nombre:str = input("Me podrias indicar tu nombre?:\t")

# saludo = "Hola, amigo, tu nombre es:"  + nombre  ## concatenacion de strings

# saludo

In [6]:
# Sumatoria hasta el numero 2_000 PEROOOO numeros impares

numeros = list(range(1, 2_000,2))
sumatoria = sum(numeros)

sumatoria

1000000

In [7]:
import math
import random

In [10]:
# math.pi  *


variable_iteracion = []

for numero_rango in list(range(1,100)):
    nunmero_aleatorio = random.random() * numero_rango
    variable_iteracion.append(nunmero_aleatorio)

In [14]:
contador = 0
variable_mostrar = variable_iteracion[contador]

while  variable_mostrar < 30 :
    print(variable_mostrar)
    contador = contador + 1
    variable_mostrar = variable_iteracion[contador]
else:
    print("Ya estoy afuera y el siguiente numero va a ser mayor a 30")

0.3527960254624507
0.29195509091299643
0.4727621071875934
1.4185566810609749
0.24922426199651349
2.566717282604775
3.6793758639506726
5.287586544640838
8.341938422712685
2.4626517145431928
4.915430864020126
5.350233296719822
11.139734766444608
2.9717888378223787
13.220056710911987
1.7576421387854069
3.235752452498416
11.990842535186436
9.10294814227535
14.003181008024798
1.4108770735942748
6.2526997376384355
8.51930505467881
11.839472456423632
14.93295525324485
16.18491198762651
23.05970862434529
6.20125415706938
11.96785768965063
23.39044723244241
26.274515001257736
13.011498814320074
16.356690597826304
19.83674548701432
Ya estoy afuera y el siguiente numero va a ser mayor a 30

In [23]:
## functions -> bloques determinados  por una retorno de valor y por medio de paramos de entrada
# definen su comportamiento

def breaker_printer( lista_iterable:list, tope: int) -> str:

    contador = 0
    while  lista_iterable[contador] < tope :
        print(f"El numero de iteracion es: {contador} -> su valor es: \t  {lista_iterable[contador]:.3f}")
        contador += 1
    else:
        return f"Ya estoy afuera y el siguiente numero va a ser mayor a {tope}"

In [24]:

breaker_printer(variable_iteracion, 30)

El numero de iteracion es: 0 -> su valor es: 	  0.353
El numero de iteracion es: 1 -> su valor es: 	  0.292
El numero de iteracion es: 2 -> su valor es: 	  0.473
El numero de iteracion es: 3 -> su valor es: 	  1.419
El numero de iteracion es: 4 -> su valor es: 	  0.249
El numero de iteracion es: 5 -> su valor es: 	  2.567
El numero de iteracion es: 6 -> su valor es: 	  3.679
El numero de iteracion es: 7 -> su valor es: 	  5.288
El numero de iteracion es: 8 -> su valor es: 	  8.342
El numero de iteracion es: 9 -> su valor es: 	  2.463
El numero de iteracion es: 10 -> su valor es: 	  4.915
El numero de iteracion es: 11 -> su valor es: 	  5.350
El numero de iteracion es: 12 -> su valor es: 	  11.140
El numero de iteracion es: 13 -> su valor es: 	  2.972
El numero de iteracion es: 14 -> su valor es: 	  13.220
El numero de iteracion es: 15 -> su valor es: 	  1.758
El numero de iteracion es: 16 -> su valor es: 	  3.236
El numero de iteracion es: 17 -> su valor es: 	  11.991
El numero de iteracion es: 18 -> su valor es: 	  9.103
El numero de iteracion es: 19 -> su valor es: 	  14.003
El numero de iteracion es: 20 -> su valor es: 	  1.411
El numero de iteracion es: 21 -> su valor es: 	  6.253
El numero de iteracion es: 22 -> su valor es: 	  8.519
El numero de iteracion es: 23 -> su valor es: 	  11.839
El numero de iteracion es: 24 -> su valor es: 	  14.933
El numero de iteracion es: 25 -> su valor es: 	  16.185
El numero de iteracion es: 26 -> su valor es: 	  23.060
El numero de iteracion es: 27 -> su valor es: 	  6.201
El numero de iteracion es: 28 -> su valor es: 	  11.968
El numero de iteracion es: 29 -> su valor es: 	  23.390
El numero de iteracion es: 30 -> su valor es: 	  26.275
El numero de iteracion es: 31 -> su valor es: 	  13.011
El numero de iteracion es: 32 -> su valor es: 	  16.357
El numero de iteracion es: 33 -> su valor es: 	  19.837

'Ya estoy afuera y el siguiente numero va a ser mayor a 30'

In [25]:
breaker_printer(variable_iteracion, 40)

El numero de iteracion es: 0 -> su valor es: 	  0.353
El numero de iteracion es: 1 -> su valor es: 	  0.292
El numero de iteracion es: 2 -> su valor es: 	  0.473
El numero de iteracion es: 3 -> su valor es: 	  1.419
El numero de iteracion es: 4 -> su valor es: 	  0.249
El numero de iteracion es: 5 -> su valor es: 	  2.567
El numero de iteracion es: 6 -> su valor es: 	  3.679
El numero de iteracion es: 7 -> su valor es: 	  5.288
El numero de iteracion es: 8 -> su valor es: 	  8.342
El numero de iteracion es: 9 -> su valor es: 	  2.463
El numero de iteracion es: 10 -> su valor es: 	  4.915
El numero de iteracion es: 11 -> su valor es: 	  5.350
El numero de iteracion es: 12 -> su valor es: 	  11.140
El numero de iteracion es: 13 -> su valor es: 	  2.972
El numero de iteracion es: 14 -> su valor es: 	  13.220
El numero de iteracion es: 15 -> su valor es: 	  1.758
El numero de iteracion es: 16 -> su valor es: 	  3.236
El numero de iteracion es: 17 -> su valor es: 	  11.991
El numero de iteracion es: 18 -> su valor es: 	  9.103
El numero de iteracion es: 19 -> su valor es: 	  14.003
El numero de iteracion es: 20 -> su valor es: 	  1.411
El numero de iteracion es: 21 -> su valor es: 	  6.253
El numero de iteracion es: 22 -> su valor es: 	  8.519
El numero de iteracion es: 23 -> su valor es: 	  11.839
El numero de iteracion es: 24 -> su valor es: 	  14.933
El numero de iteracion es: 25 -> su valor es: 	  16.185
El numero de iteracion es: 26 -> su valor es: 	  23.060
El numero de iteracion es: 27 -> su valor es: 	  6.201
El numero de iteracion es: 28 -> su valor es: 	  11.968
El numero de iteracion es: 29 -> su valor es: 	  23.390
El numero de iteracion es: 30 -> su valor es: 	  26.275
El numero de iteracion es: 31 -> su valor es: 	  13.011
El numero de iteracion es: 32 -> su valor es: 	  16.357
El numero de iteracion es: 33 -> su valor es: 	  19.837
El numero de iteracion es: 34 -> su valor es: 	  34.199
El numero de iteracion es: 35 -> su valor es: 	  34.524
El numero de iteracion es: 36 -> su valor es: 	  1.647
El numero de iteracion es: 37 -> su valor es: 	  19.558
El numero de iteracion es: 38 -> su valor es: 	  25.195
El numero de iteracion es: 39 -> su valor es: 	  9.687
El numero de iteracion es: 40 -> su valor es: 	  13.975
El numero de iteracion es: 41 -> su valor es: 	  35.819
El numero de iteracion es: 42 -> su valor es: 	  36.965
El numero de iteracion es: 43 -> su valor es: 	  3.922
El numero de iteracion es: 44 -> su valor es: 	  17.442
El numero de iteracion es: 45 -> su valor es: 	  18.189
El numero de iteracion es: 46 -> su valor es: 	  8.310

'Ya estoy afuera y el siguiente numero va a ser mayor a 40'

In [37]:
iterable = [ x for x in random.sample(range(1, 100), 50)]

# una funcion que me otorgue el valor maximo


def valor_max( x:list ) -> int :
    maximo = x[0]

    for numero in x:
        if numero > maximo:
            maximo = numero

    return maximo


valor_max(iterable)

98